
body {
    background-color: lightblue;
}


#head {
    color: lightblue;
    background-color: midnightblue;
    font-size: 20px;
    text-align: center;
}

/* #title {
    color: lightblue;
    background-color: midnightblue;
    font-size: 20px;
    text-align: center;
} */

nav {
    display: flex;  
    justify-content: space-around;
    align-content: center;
    color: lightblue;
    background-color: midnightblue;
    font-family:Georgia, 'Times New Roman', Times, serif
}

a {
    color: lightblue;
    background-color: midnightblue;
}

input {
    width: 80%

}

#itemSale {
    font-size: 22px;
    color: midnightblue;
}

#box {
    color: midnightblue;
    background-color: lightblue;
    border-bottom: 4px black dotted;
}

/* #searchArea {
    color: darkgreen;
    background-color: lightgreen;
}

#allposts {
    color: darkgray;
    background-color:lightslategray;
}

.postDetails {
    color: lightblue;
    background-color: blue;
}


li {
    color: orange ;
    background-color: blue;
} */




