
body {
    background-color: lightblue;
}


#headStyle {
    border: solid;
    display:flex;
    justify-content: space-around ;
    align-content: center;
    background-color: darkblue;
    color: aliceblue;
    padding-top: 21px;
}

#notLoginNav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-right: 10px
}

#notLoginNav a {
    margin-right: 8px;
    padding-top: 1.2vw;
    padding-left: .5vw;
    font-weight: bolder;
    font-size: 3vh;
}

#loginNav {
    border: solid;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-right: 10px;
    font-size: 1.5;
}

#loginNav a {
    margin-right: 8px;
    padding-top: 1.2vw;
    padding-left: .5vw;
    font-weight: bolder;
    font-size: 3vh;
}

#headTitle {
    color: white;
    font-family: monospace;
    font-size: 3vw;
    text-decoration: none;
    padding-right: 9vw;
}

a {
    color: white;
    font-family: monospace;
    text-decoration: none;
    padding-right: 1vw;

}

#itemSale {
    font-size: 22px;
    color: midnightblue;
}

#box {
    color: midnightblue;
    background-color: lightblue;
    border-bottom: 4px black dotted;
}



